In [79]:
import pandas as pd

In [80]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [81]:
pd.set_option('display.max_columns', df.shape[1])
pd.set_option('display.max_rows', 200)

In [82]:
df['ConvertedComp'].median()

54049.0

In [83]:
df.median()

Age                 29.0
CompTotal        63000.0
ConvertedComp    54049.0
WorkWeekHrs         40.0
dtype: float64

In [84]:
df.describe()

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean      30.834111  3.190464e+242   1.037561e+05     40.782174
std        9.585392            inf   2.268853e+05     17.816383
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.464800e+04     40.000000
50%       29.000000   6.300000e+04   5.404900e+04     40.000000
75%       35.000000   1.250000e+05   9.500000e+04     44.000000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

In [85]:
df['Age'].quantile(.10)

21.0

In [86]:
df.quantile(.75)

Age                  35.0
CompTotal        125000.0
ConvertedComp     95000.0
WorkWeekHrs          44.0
Name: 0.75, dtype: float64

In [87]:
df.loc[df['Country']=='Bangladesh', 'ConvertedComp'].median()

7068.0

In [88]:
df['Hobbyist'].count()

64416

In [89]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [90]:
df['Gender'].value_counts(normalize=True)

Man                                                            0.910121
Woman                                                          0.076033
Non-binary, genderqueer, or gender non-conforming              0.007615
Man;Non-binary, genderqueer, or gender non-conforming          0.002393
Woman;Non-binary, genderqueer, or gender non-conforming        0.001820
Woman;Man                                                      0.001503
Woman;Man;Non-binary, genderqueer, or gender non-conforming    0.000514
Name: Gender, dtype: float64

In [91]:
df['WorkWeekHrs'].value_counts()

40.000000     19292
45.000000      3787
50.000000      2747
35.000000      2000
38.000000      1352
30.000000      1036
60.000000      1010
42.000000       959
37.000000       873
8.000000        813
48.000000       603
44.000000       486
37.500000       477
20.000000       453
36.000000       421
55.000000       382
39.000000       371
9.000000        360
32.000000       348
43.000000       288
25.000000       238
10.000000       227
70.000000       225
41.000000       196
80.000000       141
46.000000       104
5.000000         99
24.000000        98
7.000000         97
56.000000        85
54.000000        81
6.000000         79
47.000000        74
12.000000        71
15.000000        69
65.000000        62
16.000000        60
42.500000        56
28.000000        54
52.000000        53
375.000000       44
33.000000        42
160.000000       41
34.000000        37
75.000000        32
18.000000        32
4.000000         32
100.000000       31
90.000000        31
168.000000       31
63.000000        28
72.000000        28
11.000000        24
49.000000        23
22.000000        22
21.000000        21
84.000000        20
38.500000        20
8.500000         19
14.000000        16
3.000000         14
26.000000        14
58.000000        13
13.000000        13
27.000000        12
51.000000        12
120.000000       10
23.000000         9
85.000000         9
150.000000        9
19.000000         9
47.500000         9
140.000000        8
385.000000        8
7.500000          7
57.000000         7
53.000000         7
29.000000         7
2.000000          7
105.000000        7
62.000000         7
31.000000         6
1.000000          6
64.000000         6
110.000000        5
66.000000         5
425.000000        5
17.000000         4
96.000000         4
77.000000         4
36.500000         4
130.000000        4
78.000000         4
95.000000         3
98.000000         3
68.000000         3
39.500000         3
37.250000         3
41.500000         3
86.000000         3
38.750000         3
67.000000         3
59.000000         3
9.500000          3
43.500000         2
46.500000         2
126.000000        2
36.250000         2
29.400000         2
61.000000         2
8.300000          2
35.500000         2
9.150000          2
475.000000        1
32.500000         1
108.000000        1
145.000000        1
36.710000         1
81.000000         1
88.000000         1
27.500000         1
83.000000         1
36.350000         1
225.000000        1
144.000000        1
73.000000         1
33.600000         1
40.500000         1
99.000000         1
93.000000         1
9.300000          1
33.750000         1
1.500000          1
387.000000        1
87.000000         1
38.400000         1
42.400000         1
25.500000         1
37.220000         1
7.700000          1
1.001122          1
79.000000         1
22.800000         1
58.500000         1
112.000000        1
45.500000         1
37.600000         1
115.000000        1
408.000000        1
376.000000        1
45.600000         1
12.500000         1
50.111111         1
69.000000         1
34.500000         1
125.000000        1
22.500000         1
Name: WorkWeekHrs, dtype: int64

In [92]:
df['EdLevel'].value_counts()

Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          26542
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       13112
Some college/university study without earning a degree                                 7239
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     4771
Associate degree (A.A., A.S., etc.)                                                    1843
Other doctoral degree (Ph.D., Ed.D., etc.)                                             1690
Primary/elementary school                                                               941
Professional degree (JD, MD, etc.)                                                      800
I never completed any formal education                                                  493
Name: EdLevel, dtype: int64

In [93]:
country_grp = df.groupby(['Country'])

In [94]:
country_grp.get_group('United States')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,MongoDB,MariaDB;MySQL;Redis,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,Remote work options;Opportunities for professi...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",JavaScript,Python;SQL,Unity 3D,Ansible,NaN,Confluence;Jira;Github;Slack;Microsoft Teams;G...,Yes,Extremely important,Not at all important/not necessary,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once a year,Not sure,Yes,No,Occasionally: 1-2 days per quarter but less th...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,Linux-based,20 to 99 employees,iOS;Slack Apps and Integrations,Docker,I have some influence,Straight / Heterosexual,Yes,"No, not really",Less than once per month or monthly,Multiple times per day,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,USD,Firebase;Microsoft SQL Server,Firebase;Microsoft SQL Server,"Developer, desktop or enterprise applications;...","Associate degree (A.A., A.S., etc.)",Employed full-time,White or of European descent,Man,Industry that I’d be working in;Flex time or a...,Slightly satisfied,"I’m not actively looking, but I am open to new...",HTML/CSS;JavaScript;SQL;TypeScript,HTML/CSS;JavaScript;SQL;TypeScript,Node.js,Node.js,Confluence;Jira;Github;Microsoft Teams;Google ...,Confluence;Jira;Github;Microsoft Teams,Yes,Extremely important,Somewhat important,Wanting to share accomplishments with a wider ...,"Read company media, such as employee blogs or ...",Every few months,No,Yes,No,Occasionally: 1-2 days per quarter but less th...,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,100 to 499 employees,Google Cloud Platform;Raspberry Pi;Windows,Google Cloud Platform;Windows,I have little or no influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per week,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,USD,Cassandra;Elasticsearch;MariaDB;PostgreSQL;Redis,Microsoft SQL Server;PostgreSQL,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Industry that I’d be working in;Languages, fra...",Slightly dissatisfied,"I’m not actively looking, but I am open to new...",C#;Go;Haskell;HTML/CSS;JavaScript;Python;Ruby;...,C#;HTML/CSS;JavaScript;Python;SQL;VBA,.NET Core;Teraform,.NET;Node.js,"Github;Gitlab;Slack;Google Suite (Docs, Meet, ...",Github;Gitlab;Slack;Microsoft Teams;Google Sui...,Yes,Extremely important,Fairly important,Having a bad day (or week or month) at work;Be...,Company reviews from third party sites (e.g. G...,Once a year,Not sure,No,No,Rarely: 1-2 days per year or less,NaN,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,20 to 99 employees,Docker;Kubernetes;Microsoft Azure,NaN,I have little or no influence,Straight / Heterosexual,Yes,"No, not at all",I have never participated in Q&A on Stack Over...,Daily or almost daily,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,USD,Elasticsearch;PostgreSQL;Redis;SQLite,Elasticsearch;MariaDB;MySQL;Redis;SQLite,"Developer, back-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Very satisfied,I am not interested in new job opportunities,HTML/CSS;Perl,Bash/Shell/PowerShell;HTML/CSS;Perl,NaN,NaN,Github,Github;Slack,Not sure,Neutral,Very important,Looking to relocate,NaN,Once every few years,Yes,Onboarding? What onboarding?,Yes,Occasionally: 1-2 days per quarter but less th...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Do other work ...,Linux-based,100 to 499 employees,Linux,AWS;Linux,I have some influence,Straight / Heterosexual,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Daily or almost daily,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58498,NaN,Yes,32.0,23,NaN,NaN,NaN,United States,NaN,NaN,Firebase;Microsoft SQL Server;MySQL;SQLite,Firebase;Microsoft SQL Server;MySQL;SQLite,"Data or business analyst;Developer, back-end;S...",Some college/university study without earning ...,"Independent contractor, freelancer, or self-em...",White or of European descent,Man,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,.NET;.NET Core;Apache Spark;Cordova;Flutter;No...,.NET;.NET Core;Apache Spark;Cordova;Flutter;No...,Github;Gitlab;Facebook Workplace;Slack;Microso...,Github;Gitlab;Facebook Workplace;Slack;Microso...,NaN,NaN,Very important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,Amused,Stack Exchange (public Q&A for a variety of to...,Watch help / tutorial videos;Visit another dev...,Linux-based,NaN,Android;Google Cloud Platform;Linux;MacOS;Micr...,Android;Google Cloud Platform;Linux;MacOS;Micr...,NaN,Straight / Heterosexual,NaN,NaN,NaN,NaN,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,NaN,NaN,8,Less than 1 year
58896,NaN,Yes,29.0,10,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Student,White or of European descent,Man,NaN,NaN,NaN,Haskell,Haskell,NaN,NaN,Gitlab;Slack,Github;Gitlab;Slack,NaN,NaN,NaN,NaN,NaN,Once a year,No,NaN,NaN,NaN,Ask developers I know/work with;Visit develope...,Amused,Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,MacOS,NaN,NaN,NaN,NaN,Gay or Lesbian;Queer,Yes,"Yes, somewhat",A few times per week,Daily or almost daily,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,29,NaN
60931,NaN,Yes,NaN,17,NaN,NaN,NaN,United States,NaN,NaN,MariaDB;MySQL;PostgreSQL,MariaDB;MySQL,System administrator,Some college/university study without earning ...,Employed full-time,NaN,Man,NaN,NaN,NaN,Bash/Shell/PowerShell;C;C#;C++;PHP;Python,Bash/Shell/PowerShell;HTML/CSS;PHP,Unity 3D;Unreal Engine,NaN,Github;Stack Overflow for Teams,Github,NaN,NaN,Not at all important/not necessary,NaN,NaN,NaN,Not sure,NaN,NaN,NaN,Start a free trial;Visit developer communities...,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Play games;Visit Stack Overflow;Watch help / t...,Linux-based,NaN,Android;Arduino;Linux;Raspberry Pi;Windows,WordPress,NaN,NaN,Yes,Neutral,I have never participated in Q&A on Stack Over...,Less than once per month or monthly,Neither easy nor difficult,Too long,No,Web development or web design,NaN,Drupal,Not applicable - I did not use Stack Overflow ...,NaN,5,NaN
63077,NaN,Yes,NaN,20,NaN,NaN,NaN,United States,NaN,NaN,MySQL,MySQL,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,C++;Rust;SQL,C++;HTML/CSS;Java;JavaScript;Python;SQL,NaN,NaN,NaN,NaN,NaN,NaN,Fairly important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,"No, not really",I have never participated in Q&A on Stack Over...,A few times per week,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,4,NaN
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a decade,NaN,NaN,NaN,NaN,Start a free trial,Amused,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend,Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year

In [95]:
df.loc[df['Country']=='Bangladesh', 'EdLevel'].value_counts()

Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          315
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        65
Some college/university study without earning a degree                                 45
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     38
I never completed any formal education                                                 14
Primary/elementary school                                                               7
Associate degree (A.A., A.S., etc.)                                                     3
Professional degree (JD, MD, etc.)                                                      1
Name: EdLevel, dtype: int64

In [96]:
country_grp['EdLevel'].value_counts()

Country      EdLevel
Afghanistan  Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          27
             I never completed any formal education                                                12
             Some college/university study without earning a degree                                 7
             Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        4
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     4
                                                                                                   ..
Zimbabwe     Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          11
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     5
             Some college/university study without earning a degree                                 5
             Associate degree (A.A., A.S., etc.)                                                    2
             Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        2
Name: EdLevel, Length: 1062, dtype: int64

In [97]:
country_grp['ConvertedComp'].median().sort_values(ascending=False)

Country
United States                                115000.0
Switzerland                                   98599.0
Israel                                        98064.0
Nomadic                                       93000.0
Andorra                                       88640.0
Bahamas                                       86706.0
Denmark                                       81624.0
Norway                                        80922.0
Iceland                                       80424.0
Australia                                     76831.0
Ireland                                       75669.0
Luxembourg                                    75669.0
Hong Kong (S.A.R.)                            71717.0
Lao People's Democratic Republic              69927.0
Canada                                        68068.0
United Kingdom                                67215.0
New Zealand                                   63890.0
Germany                                       62697.0
Netherlands                                   58368.0
Finland                                       57506.0
Singapore                                     57372.0
Sweden                                        54000.0
Japan                                         53957.0
Austria                                       51888.0
Turkmenistan                                  50000.0
Belize                                        49600.0
Saudi Arabia                                  47988.0
France                                        46482.0
Qatar                                         46140.0
Malta                                         45941.5
Belgium                                       45396.0
Benin                                         45281.5
Kuwait                                        44622.0
Republic of Korea                             44434.0
San Marino                                    43239.5
Costa Rica                                    42000.0
South Korea                                   40242.5
Bahrain                                       40196.0
Czech Republic                                38976.0
Cyprus                                        38916.0
Estonia                                       38916.0
Spain                                         38915.0
Uruguay                                       37824.0
Isle of Man                                   37808.5
Slovakia                                      37620.0
Slovenia                                      37620.0
United Arab Emirates                          37620.0
South Africa                                  37494.0
Lithuania                                     36324.0
Yemen                                         36000.0
China                                         35861.5
Italy                                         35399.0
Oman                                          35034.0
Poland                                        33408.0
Taiwan                                        33142.0
Ukraine                                       30000.0
Romania                                       29922.0
Bulgaria                                      29832.0
Montenegro                                    29184.0
Portugal                                      28861.0
Hungary                                       28860.0
Namibia                                       28560.0
Croatia                                       28457.0
Russian Federation                            28304.0
Belarus                                       27600.0
Serbia                                        27528.0
Saint Vincent and the Grenadines              27180.0
Malawi                                        26220.0
Latvia                                        25944.0
Barbados                                      25074.0
Monaco                                        24756.0
Greece                                        24517.0
Thailand                                      23064.0
Jamaica                                       22685.0
Chile                                         22584.0
Lebanon                                       22320.0
Panama                                        22200.0
Trinidad and Tobago                           21936.0
Bosnia and Herzegovina                        21522.0
Jordan                                        21156.0
Armenia                                       21066.0
Mexico                                        20688.0
Georgia                                       20142.0
Fiji                                          19777.0
Honduras                                      19308.0
Guatemala                                     18876.0
Iraq                                          18372.0
Ecuador                                       18102.0
Turkey                                        17748.0
Colombia                                      17652.0
Argentina                                     17520.0
Brazil                                        17184.0
Paraguay                                      16548.0
Botswana                                      16092.0
Dominican Republic                            16002.0
Albania                                       15900.0
Iran                                          15672.0
Republic of Moldova                           15648.0
Kosovo                                        15564.0
Grenada                                       15540.0
El Salvador                                   15300.0
Malaysia                                      15276.0
Afghanistan                                   15163.5
Uzbekistan                                    14760.0
The former Yugoslav Republic of Macedonia     14136.0
Maldives                                      13980.0
United Republic of Tanzania                   13846.0
Mauritius                                     13452.0
Peru                                          13068.5
Kazakhstan                                    12744.0
Guyana                                        12660.0
Côte d'Ivoire                                 12360.0
Morocco                                       12324.0
Nicaragua                                     12192.0
Azerbaijan                                    11988.0
Democratic Republic of the Congo              11898.0
Togo                                          11472.0
Bhutan                                        11207.0
Uganda                                        11136.0
Kenya                                         10680.0
Viet Nam                                      10344.0
Kyrgyzstan                                    10308.0
Rwanda                                        10224.0
India                                         10056.0
Haiti                                         10000.0
Senegal                                        9582.0
Algeria                                        9432.0
Mongolia                                       9366.0
Madagascar                                     9080.0
Bolivia                                        8676.0
Sri Lanka                                      8568.0
Ghana                                          8544.0
Egypt                                          8460.0
Philippines                                    8292.0
Cambodia                                       8082.0
Tunisia                                        7992.0
Indonesia                                      7908.0
Cuba                                           7788.0
Zimbabwe                                       7200.0
Somalia                                        7200.0
Bangladesh                                     7068.0
Mauritania                                     6816.0
Nigeria                                        6588.0
Swaziland                                      6414.0
Pakistan                                       6342.0
Nepal                                          6300.0
Guinea                                         5472.0
Zambia                                         5452.0
Angola                                         5292.0
Myanmar                                        4968.0
Niger                                          4944.0
Burkina Faso                                   3960.0
Ethiopia                                       3756.0
Venezuela, Bolivarian Republic of...           3600.0
Cameroon                                       3532.0
Syrian Arab Republic                           2916.0
Brunei Darussalam                              2580.0
Sudan                                          2526.0
Lesotho                                          24.0
Antigua and Barbuda                               NaN
Burundi                                           NaN
Cape Verde                                        NaN
Chad                                              NaN
Congo, Republic of the...                         NaN
Djibouti                                          NaN
Eritrea                                           NaN
Gabon                                             NaN
Gambia                                            NaN
Kiribati                                          NaN
Libyan Arab Jamahiriya                            NaN
Liechtenstein                                     NaN
Mali                                              NaN
Marshall Islands                                  NaN
Micronesia, Federated States of...                NaN
Mozambique                                        NaN
Nauru                                             NaN
North Korea                                       NaN
Papua New Guinea                                  NaN
Saint Lucia                                       NaN
Sierra Leone                                      NaN
Solomon Islands                                   NaN
Tajikistan                                        NaN
Timor-Leste                                       NaN
Name: ConvertedComp, dtype: float64

In [98]:
country_grp['ConvertedComp'].median().sort_values(ascending=False).loc['India':'Bangladesh']

Country
India          10056.0
Haiti          10000.0
Senegal         9582.0
Algeria         9432.0
Mongolia        9366.0
Madagascar      9080.0
Bolivia         8676.0
Sri Lanka       8568.0
Ghana           8544.0
Egypt           8460.0
Philippines     8292.0
Cambodia        8082.0
Tunisia         7992.0
Indonesia       7908.0
Cuba            7788.0
Zimbabwe        7200.0
Somalia         7200.0
Bangladesh      7068.0
Name: ConvertedComp, dtype: float64

In [99]:
df.groupby(['Country'])['ConvertedComp'].agg(['mean', 'median'])

                                                    mean    median
Country
Afghanistan                                148290.125000   15163.5
Albania                                     25611.000000   15900.0
Algeria                                     10362.812500    9432.0
Andorra                                     88640.000000   88640.0
Angola                                       5292.000000    5292.0
Antigua and Barbuda                                  NaN       NaN
Argentina                                   29010.033473   17520.0
Armenia                                     30421.285714   21066.0
Australia                                  146165.814767   76831.0
Austria                                     83077.661342   51888.0
Azerbaijan                                  14909.142857   11988.0
Bahamas                                     86706.000000   86706.0
Bahrain                                     39592.000000   40196.0
Bangladesh                                  21586.559783    7068.0
Barbados                                    25074.000000   25074.0
Belarus                                     30946.106667   27600.0
Belgium                                     77264.657588   45396.0
Belize                                      49600.000000   49600.0
Benin                                       45281.500000   45281.5
Bhutan                                       8825.600000   11207.0
Bolivia                                     14482.857143    8676.0
Bosnia and Herzegovina                      29012.000000   21522.0
Botswana                                    17403.000000   16092.0
Brazil                                      24941.354365   17184.0
Brunei Darussalam                            2580.000000    2580.0
Bulgaria                                    33284.796610   29832.0
Burkina Faso                                 3960.000000    3960.0
Burundi                                              NaN       NaN
Cambodia                                    37914.875000    8082.0
Cameroon                                     4450.600000    3532.0
Canada                                     115101.775465   68068.0
Cape Verde                                           NaN       NaN
Chad                                                 NaN       NaN
Chile                                       28402.584906   22584.0
China                                       61493.567308   35861.5
Colombia                                    32386.877907   17652.0
Congo, Republic of the...                            NaN       NaN
Costa Rica                                  78092.457143   42000.0
Croatia                                     34623.763636   28457.0
Cuba                                        11101.066667    7788.0
Cyprus                                      49790.344828   38916.0
Czech Republic                              46250.961661   38976.0
Côte d'Ivoire                               24375.000000   12360.0
Democratic Republic of the Congo            10476.000000   11898.0
Denmark                                    101294.140562   81624.0
Djibouti                                             NaN       NaN
Dominican Republic                          32564.022727   16002.0
Ecuador                                     66289.230769   18102.0
Egypt                                       14130.623529    8460.0
El Salvador                                 36691.000000   15300.0
Eritrea                                              NaN       NaN
Estonia                                     40895.950495   38916.0
Ethiopia                                    64734.000000    3756.0
Fiji                                        19777.000000   19777.0
Finland                                     69466.615044   57506.0
France                                      74381.458740   46482.0
Gabon                                                NaN       NaN
Gambia                                               NaN       NaN
Georgia                                     22532.294118   20142.0
Germany                                     92508.647339   62697.0
Ghana                                       13907.068966    8544.0
Greece                                      43611.731343   24517.0
Grenada                                     15540.000000   15540.0
Guatemala                                   23848.230769   18876.0
Guinea                                       5472.000000    5472.0
Guyana                                      17443.666667   12660.0
Haiti                                       18921.333333   10000.0
Honduras                                    21407.636364   19308.0
Hong Kong (S.A.R.)                          96755.220000   71717.0
Hungary                                     34140.612766   28860.0
Iceland                                     78961.176471   80424.0
India                                       28751.271364   10056.0
Indonesia                                   19266.477941    7908.0
Iran                                        21414.836364   15672.0
Iraq                                        17433.000000   18372.0
Ireland                                    183000.740351   75669.0
Isle of Man                                 40555.250000   37808.5
Israel                                     111650.885542   98064.0
Italy                                       75963.878195   35399.0
Jamaica                                     47278.250000   22685.0
Japan                                      106414.290503   53957.0
Jordan                                      27987.600000   21156.0
Kazakhstan                                  17713.694444   12744.0
Kenya                                       15205.084507   10680.0
Kiribati                                             NaN       NaN
Kosovo                                      63476.533333   15564.0
Kuwait                                      52713.000000   44622.0
Kyrgyzstan                                   9362.181818   10308.0
Lao People's Democratic Republic           231275.250000   69927.0
Latvia                                      31916.630137   25944.0
Lebanon                                     49896.964286   22320.0
Lesotho                                        24.000000      24.0
Libyan Arab Jamahiriya                               NaN       NaN
Liechtenstein                                        NaN       NaN
Lithuania                                   43271.973913   36324.0
Luxembourg                                  71881.636364   75669.0
Madagascar                                  14418.888889    9080.0
Malawi                                      26220.000000   26220.0
Malaysia                                    46002.544554   15276.0
Maldives                                    16832.000000   13980.0
Mali                                                 NaN       NaN
Malta                                       65549.800000   45941.5
Marshall Islands                                     NaN       NaN
Mauritania                                   6816.000000    6816.0
Mauritius                                   14679.428571   13452.0
Mexico                                      29374.468153   20688.0
Micronesia, Federated States of...                   NaN       NaN
Monaco                                      24756.000000   24756.0
Mongolia                                     9039.000000    9366.0
Montenegro                                  34334.000000   29184.0
Morocco                                     20620.222222   12324.0
Mozambique                                           NaN       NaN
Myanmar                                      5876.307692    4968.0
Namibia                                     28560.000000   28560.0
Nauru                                                NaN       NaN
Nepal                                       37109.353659    6300.0
Netherlands                                 78552.955556   58368.0
New Zealand                                140843.359606   63890.0
Nicaragua                                   22674.909091   12192.0
Niger                                        4944.000000    4944.0
Nigeria                                     22399.287356    6588.0
Nomadic                                    310924.142857   93000.0
North Korea                                          NaN       NaN
Norway                                     143368.391144   80922.0
Oman                                        34659.000000   35034.0
Pakistan                                    14581.384848    6342.0
Panama                                      24895.714286   22200.0
Papua New Guinea                                     NaN       NaN
Paraguay                                    95632.266667   16548.0
Peru                                        23254.884615   13068.5
Philippines                                 13737.007752    8292.0
Poland                                      41857.167920   33408.0
Portugal                                    60167.396694   28861.0
Qatar                                       44850.090909   46140.0
Republic of Korea                          118272.444444   44434.0
Republic of Moldova                         21521.043478   15648.0
Romania                                     40103.117834   29922.0
Russian Federation                          36209.548544   28304.0
Rwanda                                      25810.285714   10224.0
Saint Lucia                                          NaN       NaN
Saint Vincent and the Grenadines            27180.000000   27180.0
San Marino                                  43239.500000   43239.5
Saudi Arabia                                53789.526316   47988.0
Senegal                                     10230.000000    9582.0
Serbia                                      41515.701987   27528.0
Sierra Leone                                         NaN       NaN
Singapore                                  100646.108108   57372.0
Slovakia                                    62450.495327   37620.0
Slovenia                                    49278.793814   37620.0
Solomon Islands                                      NaN       NaN
Somalia                                     12300.000000    7200.0
South Africa                                54479.575251   37494.0
South Korea                                 97086.012195   40242.5
Spain                                       72619.356110   38915.0
Sri Lanka                                    9651.944954    8568.0
Sudan                                        3795.000000    2526.0
Swaziland                                    6414.000000    6414.0
Sweden                                      66937.709622   54000.0
Switzerland                                142001.936288   98599.0
Syrian Arab Republic                         4833.600000    2916.0
Taiwan                                      52124.560000   33142.0
Tajikistan                                           NaN       NaN
Thailand                                    40902.860000   23064.0
The former Yugoslav Republic of Macedonia   17802.133333   14136.0
Timor-Leste                                          NaN       NaN
Togo                                        11383.200000   11472.0
Trinidad and Tobago                         38127.428571   21936.0
Tunisia                                     12530.166667    7992.0
Turkey                                      26460.987013   17748.0
Turkmenistan                                50000.000000   50000.0
Uganda                                      19151.555556   11136.0
Ukraine                                     35289.943144   30000.0
United Arab Emirates                        43955.622642   37620.0
United Kingdom                             140849.074189   67215.0
United Republic of Tanzania                 26266.400000   13846.0
United States                              208826.496443  115000.0
Uruguay                                     49749.046154   37824.0
Uzbekistan                                 102213.333333   14760.0
Venezuela, Bolivarian Republic of...         6280.611111    3600.0
Viet Nam                                    28342.605769   10344.0
Yemen                                       36000.000000   36000.0
Zambia                                      17506.400000    5452.0
Zimbabwe                                    26338.181818    7200.0

In [128]:
filt = (df['Country'] == 'Bangladesh')

In [131]:
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

179

In [137]:
country_grp['LanguageWorkedWith'].str.contains('Python')

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [139]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                                    11
Albania                                        13
Algeria                                        40
Andorra                                         3
Angola                                          1
Antigua and Barbuda                             0
Argentina                                     134
Armenia                                        17
Australia                                     524
Austria                                       205
Azerbaijan                                     11
Bahamas                                         1
Bahrain                                         2
Bangladesh                                    179
Barbados                                        2
Belarus                                        40
Belgium                                       173
Belize                                          2
Benin                                           3
Bhutan                                          1
Bolivia                                        10
Bosnia and Herzegovina                         25
Botswana                                        2
Brazil                                        635
Brunei Darussalam                               2
Bulgaria                                       89
Burkina Faso                                    3
Burundi                                         0
Cambodia                                        4
Cameroon                                       24
Canada                                       1011
Cape Verde                                      0
Chad                                            0
Chile                                          71
China                                         158
Colombia                                      100
Congo, Republic of the...                       3
Costa Rica                                     33
Croatia                                        54
Cuba                                            7
Cyprus                                         20
Czech Republic                                195
Côte d'Ivoire                                   6
Democratic Republic of the Congo                3
Denmark                                       144
Djibouti                                        0
Dominican Republic                             13
Ecuador                                        23
Egypt                                          79
El Salvador                                     6
Eritrea                                         1
Estonia                                        65
Ethiopia                                       19
Fiji                                            0
Finland                                       183
France                                        833
Gabon                                           1
Gambia                                          0
Georgia                                        23
Germany                                      1712
Ghana                                          40
Greece                                        149
Grenada                                         0
Guatemala                                      18
Guinea                                          1
Guyana                                          3
Haiti                                           1
Honduras                                        6
Hong Kong (S.A.R.)                             46
Hungary                                       138
Iceland                                        28
India                                        2670
Indonesia                                     142
Iran                                          176
Iraq                                           12
Ireland                                       199
Isle of Man                                     2
Israel                                        307
Italy                                         422
Jamaica                                         7
Japan                                         132
Jordan                                         13
Kazakhstan                                     18
Kenya                                         111
Kiribati                                        0
Kosovo                                          7
Kuwait                                          7
Kyrgyzstan                                      6
Lao People's Democratic Republic                3
Latvia                                         36
Lebanon                                        24
Lesotho                                         0
Libyan Arab Jamahiriya                          2
Liechtenstein                                   0
Lithuania                                      64
Luxembourg                                     15
Madagascar                                      5
Malawi                                          2
Malaysia                                       73
Maldives                                        3
Mali                                            0
Malta                                          20
Marshall Islands                                0
Mauritania                                      2
Mauritius                                       5
Mexico                                        179
Micronesia, Federated States of...              1
Monaco                                          0
Mongolia                                        4
Montenegro                                      9
Morocco                                        67
Mozambique                                      2
Myanmar                                        10
Namibia                                         2
Nauru                                           0
Nepal                                          89
Netherlands                                   544
New Zealand                                   147
Nicaragua                                       7
Niger                                           0
Nigeria                                       192
Nomadic                                        10
North Korea                                     0
Norway                                        160
Oman                                            5
Pakistan                                      246
Panama                                          9
Papua New Guinea                                1
Paraguay                                        9
Peru                                           43
Philippines                                   124
Poland                                        509
Portugal                                      147
Qatar                                           8
Republic of Korea                              35
Republic of Moldova                            10
Romania                                       196
Russian Federation                            421
Rwanda                                         10
Saint Lucia                                     1
Saint Vincent and the Grenadines                0
San Marino                                      0
Saudi Arabia                                   20
Senegal                                        10
Serbia                                         93
Sierra Leone                                    2
Singapore                                      99
Slovakia                                       64
Slovenia                                       65
Solomon Islands                                 1
Somalia                                         3
South Africa                                  158
South Korea                                    78
Spain                                         448
Sri Lanka                                     109
Sudan                                          10
Swaziland                                       4
Sweden                                        353
Switzerland                                   278
Syrian Arab Republic                            5
Taiwan                                         73
Tajikistan                                      1
Thailand                                       47
The former Yugoslav Republic of Macedonia      11
Timor-Leste                                     1
Togo                                            3
Trinidad and Tobago                             3
Tunisia                                        35
Turkey                                        269
Turkmenistan                                    1
Uganda                                         42
Ukraine                                       158
United Arab Emirates                           27
United Kingdom                               1621
United Republic of Tanzania                    10
United States                                5964
Uruguay                                        33
Uzbekistan                                      8
Venezuela, Bolivarian Republic of...           29
Viet Nam                                      102
Yemen                                           1
Zambia                                          4
Zimbabwe                                       13
Name: LanguageWorkedWith, dtype: int64

In [147]:
df['Age'].dropna()

Respondent
4        25.0
5        31.0
8        36.0
9        30.0
10       22.0
         ...
60134    22.0
60149    34.0
61111    38.0
61561    64.0
62834    17.0
Name: Age, Length: 45446, dtype: float64

In [148]:
df['Age'].mad()

7.2186906771091905

In [171]:
knowPython = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [172]:
totRespondent = country_grp['LanguageWorkedWith'].count()

In [187]:
totRespondent.name = 'TotalRepondents'

In [188]:
df[df['Country']=='United States']['LanguageWorkedWith'].count()

11633

In [189]:
df_pctPy = pd.concat([knowPython, totRespondent], axis='columns')

In [195]:
df_pctPy

                                           KnowsPython  TotalRepondents
Country
Afghanistan                                         11               48
Albania                                             13               38
Algeria                                             40               78
Andorra                                              3                8
Angola                                               1                3
Antigua and Barbuda                                  0                0
Argentina                                          134              348
Armenia                                             17               51
Australia                                          524             1123
Austria                                            205              509
Azerbaijan                                          11               37
Bahamas                                              1                2
Bahrain                                              2                8
Bangladesh                                         179              520
Barbados                                             2                4
Belarus                                             40              118
Belgium                                            173              415
Belize                                               2                4
Benin                                                3                8
Bhutan                                               1                5
Bolivia                                             10               34
Bosnia and Herzegovina                              25               85
Botswana                                             2                8
Brazil                                             635             1611
Brunei Darussalam                                    2                3
Bulgaria                                            89              300
Burkina Faso                                         3                5
Burundi                                              0                0
Cambodia                                             4               24
Cameroon                                            24               39
Canada                                            1011             2038
Cape Verde                                           0                1
Chad                                                 0                1
Chile                                               71              154
China                                              158              294
Colombia                                           100              256
Congo, Republic of the...                            3                5
Costa Rica                                          33               67
Croatia                                             54              174
Cuba                                                 7               19
Cyprus                                              20               46
Czech Republic                                     195              461
Côte d'Ivoire                                        6               13
Democratic Republic of the Congo                     3                6
Denmark                                            144              374
Djibouti                                             0                2
Dominican Republic                                  13               64
Ecuador                                             23               45
Egypt                                               79              230
El Salvador                                          6               23
Eritrea                                              1                2
Estonia                                             65              131
Ethiopia                                            19               47
Fiji                                                 0                0
Finland                                            183              333
France                                             833             1724
Gabon                                                1                1
Gambia                                               0                3
Georgia                                             23               59
Germany                                           1712             3633
Ghana                                               40               92
Greece                                             149              356
Grenada                                              0                1
Guatemala                                           18               43
Guinea                                               1                4
Guyana                                               3                4
Haiti                                                1                3
Honduras                                             6               17
Hong Kong (S.A.R.)                                  46               94
Hungary                                            138              333
Iceland                                             28               46
India                                             2670             6884
Indonesia                                          142              399
Iran                                               176              431
Iraq                                                12               38
Ireland                                            199              407
Isle of Man                                          2                7
Israel                                             307              593
Italy                                              422             1034
Jamaica                                              7               14
Japan                                              132              260
Jordan                                              13               52
Kazakhstan                                          18               56
Kenya                                              111              234
Kiribati                                             0                0
Kosovo                                               7               27
Kuwait                                               7               13
Kyrgyzstan                                           6               15
Lao People's Democratic Republic                     3                7
Latvia                                              36              107
Lebanon                                             24               68
Lesotho                                              0                1
Libyan Arab Jamahiriya                               2                5
Liechtenstein                                        0                1
Lithuania                                           64              159
Luxembourg                                          15               37
Madagascar                                           5               20
Malawi                                               2                6
Malaysia                                            73              196
Maldives                                             3                9
Mali                                                 0                0
Malta                                               20               42
Marshall Islands                                     0                1
Mauritania                                           2                3
Mauritius                                            5               16
Mexico                                             179              475
Micronesia, Federated States of...                   1                1
Monaco                                               0                1
Mongolia                                             4                8
Montenegro                                           9               13
Morocco                                             67              145
Mozambique                                           2                6
Myanmar                                             10               38
Namibia                                              2                6
Nauru                                                0                1
Nepal                                               89              208
Netherlands                                        544             1261
New Zealand                                        147              331
Nicaragua                                            7               31
Niger                                                0                2
Nigeria                                            192              506
Nomadic                                             10               26
North Korea                                          0                0
Norway                                             160              363
Oman                                                 5                9
Pakistan                                           246              694
Panama                                               9               22
Papua New Guinea                                     1                2
Paraguay                                             9               21
Peru                                                43               87
Philippines                                        124              342
Poland                                             509             1163
Portugal                                           147              363
Qatar                                                8               16
Republic of Korea                                   35               64
Republic of Moldova                                 10               44
Romania                                            196              551
Russian Federation                                 421              981
Rwanda                                              10               28
Saint Lucia                                          1                1
Saint Vincent and the Grenadines                     0                1
San Marino                                           0                2
Saudi Arabia                                        20               68
Senegal                                             10               21
Serbia                                              93              279
Sierra Leone                                         2                4
Singapore                                           99              206
Slovakia                                            64              161
Slovenia                                            65              141
Solomon Islands                                      1                2
Somalia                                              3               13
South Africa                                       158              446
South Korea                                         78              172
Spain                                              448             1056
Sri Lanka                                          109              243
Sudan                                               10               26
Swaziland                                            4                6
Sweden                                             353              829
Switzerland                                        278              588
Syrian Arab Republic                                 5               12
Taiwan                                              73              136
Tajikistan                                           1                3
Thailand                                            47              112
The former Yugoslav Republic of Macedonia           11               35
Timor-Leste                                          1                1
Togo                                                 3               10
Trinidad and Tobago                                  3                7
Tunisia                                             35               98
Turkey                                             269              681
Turkmenistan                                         1                2
Uganda                                              42               71
Ukraine                                            158              474
United Arab Emirates                                27               95
United Kingdom                                    1621             3616
United Republic of Tanzania                         10               24
United States                                     5964            11633
Uruguay                                             33               93
Uzbekistan                                           8               31
Venezuela, Bolivarian Republic of...                29               64
Viet Nam                                           102              282
Yemen                                                1                6
Zambia                                               4               14
Zimbabwe                                            13               27

In [192]:
df_pctPy.rename(columns={'LanguageWorkedWith':'KnowsPython'}, inplace=True)

In [198]:
df_pctPy['pctKnowsPyton'] = (df_pctPy['KnowsPython']/df_pctPy['TotalRepondents']) * 100

In [209]:
df_pctPy

,KnowPython,TotalRepondent,pctKnowPyton
Country,,,
Saint Lucia,1,1,100.000000
Gabon,1,1,100.000000
Timor-Leste,1,1,100.000000
"Micronesia, Federated States of...",1,1,100.000000
Guyana,3,4,75.000000
Montenegro,9,13,69.230769
Mauritania,2,3,66.666667
Brunei Darussalam,2,3,66.666667
Swaziland,4,6,66.666667
Cameroon,24,39,61.538462
Iceland,28,46,60.869565
"Congo, Republic of the...",3,5,60.000000
Burkina Faso,3,5,60.000000
Uganda,42,71,59.154930
Oman,5,9,55.555556
Finland,183,333,54.954955
Republic of Korea,35,64,54.687500
Kuwait,7,13,53.846154
China,158,294,53.741497
Taiwan,73,136,53.676471
Israel,307,593,51.770658
Algeria,40,78,51.282051
United States,5964,11633,51.267945
Ecuador,23,45,51.111111
Japan,132,260,50.769231
Belize,2,4,50.000000
Democratic Republic of the Congo,3,6,50.000000
Qatar,8,16,50.000000
Sierra Leone,2,4,50.000000
Eritrea,1,2,50.000000
Turkmenistan,1,2,50.000000
Solomon Islands,1,2,50.000000
Barbados,2,4,50.000000
Bahamas,1,2,50.000000
Papua New Guinea,1,2,50.000000
Jamaica,7,14,50.000000
Mongolia,4,8,50.000000
Estonia,65,131,49.618321
Canada,1011,2038,49.607458
Peru,43,87,49.425287
Costa Rica,33,67,49.253731
Hong Kong (S.A.R.),46,94,48.936170
Ireland,199,407,48.894349
France,833,1724,48.317865
Zimbabwe,13,27,48.148148
Singapore,99,206,48.058252
Senegal,10,21,47.619048
Malta,20,42,47.619048
Kenya,111,234,47.435897
Switzerland,278,588,47.278912
Germany,1712,3633,47.123589
Australia,524,1123,46.660730
Morocco,67,145,46.206897
Côte d'Ivoire,6,13,46.153846
Chile,71,154,46.103896
Slovenia,65,141,46.099291
South Korea,78,172,45.348837
"Venezuela, Bolivarian Republic of...",29,64,45.312500
Sri Lanka,109,243,44.855967
United Kingdom,1621,3616,44.828540
New Zealand,147,331,44.410876
Norway,160,363,44.077135
Poland,509,1163,43.766122
Ghana,40,92,43.478261
Cyprus,20,46,43.478261
Netherlands,544,1261,43.140365
Russian Federation,421,981,42.915392
Paraguay,9,21,42.857143
Trinidad and Tobago,3,7,42.857143
Lao People's Democratic Republic,3,7,42.857143
Nepal,89,208,42.788462
Sweden,353,829,42.581423
Spain,448,1056,42.424242
Czech Republic,195,461,42.299349
Thailand,47,112,41.964286
Guatemala,18,43,41.860465
Greece,149,356,41.853933
Belgium,173,415,41.686747
United Republic of Tanzania,10,24,41.666667
Syrian Arab Republic,5,12,41.666667
Hungary,138,333,41.441441
Panama,9,22,40.909091
Iran,176,431,40.835267
Italy,422,1034,40.812379
Luxembourg,15,37,40.540541
Portugal,147,363,40.495868
Ethiopia,19,47,40.425532
Austria,205,509,40.275049
Lithuania,64,159,40.251572
Libyan Arab Jamahiriya,2,5,40.000000
Kyrgyzstan,6,15,40.000000
Slovakia,64,161,39.751553
Turkey,269,681,39.500734
Brazil,635,1611,39.416511
Colombia,100,256,39.062500
Georgia,23,59,38.983051
India,2670,6884,38.785590
Argentina,134,348,38.505747
Denmark,144,374,38.502674
Sudan,10,26,38.461538
Nomadic,10,26,38.461538
Nigeria,192,506,37.944664
Mexico,179,475,37.684211
Benin,3,8,37.500000
Andorra,3,8,37.500000
Malaysia,73,196,37.244898
Cuba,7,19,36.842105
Philippines,124,342,36.257310
Viet Nam,102,282,36.170213
Tunisia,35,98,35.714286
Rwanda,10,28,35.714286
Indonesia,142,399,35.588972
Romania,196,551,35.571688
Uruguay,33,93,35.483871
Pakistan,246,694,35.446686
South Africa,158,446,35.426009
Honduras,6,17,35.294118
Lebanon,24,68,35.294118
Bangladesh,179,520,34.423077
Egypt,79,230,34.347826
Albania,13,38,34.210526
Belarus,40,118,33.898305
Latvia,36,107,33.644860
Haiti,1,3,33.333333
Serbia,93,279,33.333333
Armenia,17,51,33.333333
Malawi,2,6,33.333333
Mozambique,2,6,33.333333
Tajikistan,1,3,33.333333
Angola,1,3,33.333333
Namibia,2,6,33.333333
Ukraine,158,474,33.333333
Maldives,3,9,33.333333
Kazakhstan,18,56,32.142857
Iraq,12,38,31.578947
The former Yugoslav Republic of Macedonia,11,35,31.428571
Mauritius,5,16,31.250000
Croatia,54,174,31.034483
Togo,3,10,30.000000
Azerbaijan,11,37,29.729730
Bulgaria,89,300,29.666667
Saudi Arabia,20,68,29.411765
Bosnia and Herzegovina,25,85,29.411765
Bolivia,10,34,29.411765
Zambia,4,14,28.571429
Isle of Man,2,7,28.571429
United Arab Emirates,27,95,28.421053
Myanmar,10,38,26.315789
El Salvador,6,23,26.086957
Kosovo,7,27,25.925926
Uzbekistan,8,31,25.806452
Bahrain,2,8,25.000000
Botswana,2,8,25.000000
Guinea,1,4,25.000000
Jordan,13,52,25.000000
Madagascar,5,20,25.000000
Somalia,3,13,23.076923
Afghanistan,11,48,22.916667
Republic of Moldova,10,44,22.727273
Nicaragua,7,31,22.580645
Dominican Republic,13,64,20.312500
Bhutan,1,5,20.000000
Cambodia,4,24,16.666667
Yemen,1,6,16.666667
Liechtenstein,0,1,0.000000
Cape Verde,0,1,0.000000
Chad,0,1,0.000000
San Marino,0,2,0.000000
Saint Vincent and the Grenadines,0,1,0.000000
Gambia,0,3,0.000000
Grenada,0,1,0.000000
Niger,0,2,0.000000
Nauru,0,1,0.000000
Monaco,0,1,0.000000
Marshall Islands,0,1,0.000000
Lesotho,0,1,0.000000
Djibouti,0,2,0.000000
Antigua and Barbuda,0,0,NaN
Burundi,0,0,NaN
Fiji,0,0,NaN
Kiribati,0,0,NaN
Mali,0,0,NaN
North Korea,0,0,NaN

In [204]:
df_pctPy.sort_values(by='pctKnowsPyton', ascending=False, inplace=True)

In [206]:
df_pctPy.loc['Bangladesh']

KnowsPython        179.000000
TotalRepondents    520.000000
pctKnowsPyton       34.423077
Name: Bangladesh, dtype: float64

In [208]:
df_pctPy.columns = ['KnowPython', 'TotalRepondent', 'pctKnowPyton']